@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	height: 100%;
}

/* Hero Carausel Style in home page */
.HeroSlider {
	height: 50%;
}

/* Custom scrollbar styles */
/* For webkit based browsers */
::-webkit-scrollbar {
	width: 0px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
